.c-page {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    .c-nav {
        margin: 25px 0 0;

    }
    .c-weather {
        &-top {
            &-number {
                color: #fff;
                display: inline-block;
                span {
                    font-size: 60px;
                    vertical-align: text-top;
                    line-height: 180px;
                    // position: relative;
                    // left: -35px;
                }
            }
            &-img {
                width: 80px;
                height: 80px;
            }
            &-text {
                display: inline-block;
                font-size: 35px;
                color: #fff;
            }
        }
        
    }
    .fs20 {
        font-size: 20px;
    }
    .fs150 {
        font-size: 150px;
    }
}